main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 0px;
  margin-right: auto;
  margin-left: auto;
}

app-square {
  // border: 1px gray solid;
  border: none;
  height: 200px;
}

button {
  border-radius: 7px;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: cornflowerblue;
  border-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p.stack {
  display: block;
  cursor: not-allowed;
  width: 600px;
  height: 600px;
  position: absolute;
  opacity: 50%;
  background-color: darkolivegreen;
  font-size: larger;
  font-weight: bolder;
  margin-top: 0;

  span{
    position: absolute;
    top: 50%;
    left: 33%;
    font-size: xx-large;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.container{
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

